body {
background-color: #F0C3C3;
}


.colorblock {
  width: 300px;
  height: 300px;
  display: inline-block;
  text-align: center;
}

.red {
  background-color: red;
  border-radius: 50% 0 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 50% 0 0;
}

.green {
  background-color: green;
  border-radius: 0 0 0 50%;
}

.orange {
  background-color: orange;
  border-radius: 0 0 50% 0;
}


#round {
  height: 300px;
  width: 300px;
  background-color:	white;
  position:absolute;
  left:150px;
  border-radius: 50%;
  top:150px;
  z-index: 100;
  box-shadow: 0px 0px 55px #000;
  cursor: pointer;
}

h1 {
  color:orange;
  font-size: 6vw;
  font-weight: bold;
  margin-top: 0.8em;
  text-align: center;
  font-family:Arial,Verdana,Sans-serif;
}

p {
  color:orange;
  font-size: 1.5em;
  font-family:Arial,Verdana,Sans-serif;
  margin-top: -0.5em;
  text-align: center;
  position: relative;
}

h2 {
  margin-top:0.5em;
  color:red;
  text-align: center;
  font-weight: bold;
  font-family:Arial,Verdana,Sans-serif;
  font-size: 2em;
}

