body {
background-color: #F0C3C3;
}

table {
  text-align: center;
}

.intro {
   color:	#8B008B;
   text-align:center;
   font-size: medium;
   margin: 15px 10px;
   padding: 20px;
   font-family:Verdana,Arial,Sans-serif;
}

.colorblock {
  width: 35vw;
  height: 35vw;
  display: inline-block;
}

.red {
  background-color: red;
  border-radius: 50% 0 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 50% 0 0;
}

.green {
  background-color: green;
  border-radius: 0 0 0 50%;
}

.orange {
  background-color: orange;
  border-radius: 0 0 50% 0;
}


#round {
  height: 35vw;
  width: 35vw;
  background-color:	white;
  position:absolute;
  left:32vw;
  border-radius: 50%;
  top:15vw;
  z-index: 100;
  box-shadow: 0px 0px 2vw;
  cursor: pointer;
}

h1 {
  color:orange;
  font-size:xx-large;
  font-weight: bold;
  margin: 0vw;
  text-align: center;
  font-family:Arial,Verdana,Sans-serif;
}

#simon {
  color:orange;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 1vw;
  text-align: center;
  font-family:Arial,Verdana,Sans-serif;
  position: relative;
  top: 4vw;
}

#start {
  color:orange;
  font-size:small;
  font-family:Arial,Verdana,Sans-serif;
  margin-top: -0.5em;
  text-align: center;
  position: relative;
}

#count {
  margin-bottom: 1vw;
  color:red;
  text-align: center;
  font-weight: bold;
  font-family:Arial,Verdana,Sans-serif;
  font-size: 5vw;
  position: relative;
  bottom:3vw;
}

